<!DOCTYPE html>
<html ng-app="EatMyCookiesApp">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="../css/style.css" id="cm-theme" media="screen" rel="stylesheet" type="text/css">
</head>
<body ng-controller="OptionsCtrl">
    <div ng-view></div>


    <script src="../js/app/angular/1.5.8/angular.min.js"></script>
    <script src="../js/app/angular/1.5.8/angular-aria.min.js"></script>
    <script src="../js/app/angular/1.5.8/angular-messages.min.js"></script> 
    <script src="../js/app/angular/resource.js"></script>
    <script src="../js/app/angular/route.js"></script>
    <script src="../js/app/angular/localStorageService.js"></script>

    <script src="../js/app.js"></script>
    <script src="../js/app/routes.js"></script>

    <script src="../js/app/services/generics/array.service.js"></script>
    <script src="../js/app/services/generics/manifest.service.js"></script>
    <script src="../js/app/services/generics/my-storage.service.js"></script>

    <script src="../js/app/services/application/eat-storage.service.js"></script>

    <script src="../js/app/controllers/options.js"></script>
</body>
</html>